/*-------------------------------------Imports--*/
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-------------------------------------Background--*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

#background-image{
    background: url("../images/background_image.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
}

#game-area {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    width: 85%;
    height: 85%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 1%;
    border-radius: 5%;
    border: 2px solid #fff;
    font-family: Teko, sans-serif;
    font-weight: 100;
    color: #fefefe;
}

#game-title{
    font-family: Tomorrow, sans-serif;
    color:#000;
    -webkit-text-stroke: 2px white;
    text-align: center;
    padding-top: 10px;
}

#contact-bar{
    background-color: black; 
    height: 7.5%;
    width: 100%;
    font-size: 1.5em;
    color: #fefefe;
    position: fixed;
    bottom: 0;
}


.contact-links li{
    display: inline;
    padding-left: 0;
    padding-right:0;
}

#contact-bar p{
    text-align: center;
    vertical-align: middle;
    font-family: Teko, sans-serif;
}

.footer-text{
    padding-top: 10px;
}

#contact-bar ul{
    list-style-type: none;
    padding: 0;   
}

.contact i{
    align-items: center;
    color: #fefefe;
}

.contact i:hover {
    color: #47555e;
    transition: all 0.35s ease-in-out;
  }

#central-icon{
    padding-left: 35px;
    padding-right: 35px; 
}

/*-------------------------------------contact form--*/

#contact-form{
    margin-left: 200px;
    margin-right: 200px;
}

#form-name{
    margin-top: 30px;
    margin-bottom: 30px;
}

#form-email{
    margin-bottom: 30px;
}

#btn-send-form{
    margin-right: 10px;
}

#btn-go-back{
    margin-top: 16px;
    margin-left: 10px;
    height: 30px;
}
/*-------------------------------------login screen--*/

#login-screen{
    text-align: center;
    font-size: 16px;
}

#login-instruction{
    font-size: 24px;
}

#user{
    margin-bottom: 20px;
}

#instructions{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

#instructions h2{
    font-size: 40px;
}

#btn-close{
    margin-left: auto;
    margin-right: auto;
}


/*-------------------------------------level select--*/

#choose-level-screen{
    text-align: center;
    margin-top: 20px;
}

/*-------------------------------------game area--*/

#game-screen {
    text-align: center;
    margin-top: 50px;
}

.color-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#check-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* ----------------------------------------404 page */

#btn-go-back-404{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.error-404{
    text-align: center;

}

/* ----------------------------------------Media Query */

@media (min-width: 425px){

    #central-icon{
        padding-left: 0;
        padding-right: 0; 
    }

    .contact i{
        padding-left: 25px;
        padding-right: 25px; 
    }   

    #contact-form{
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media (min-width: 320px){
    
    #central-icon{
        padding-left: 0;
        padding-right: 0; 
    }
    
    .contact i{
        padding-left: 20px;
        padding-right: 20px; 
    }  

    .color-button{
        width: 40px;
        height: 40px;
    }
    
    #contact-form{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 768px){
    #contact-form{
        margin-left: 75px;
        margin-right: 75px;
    }   
}

@media (min-width: 1024px){
    #contact-form{
        margin-left: 150px;
        margin-right: 150px;
    }   
}